{% extends 'base.html.twig'%}
{% block title %}Mot de passe oublié{% endblock %}
{% block body %}
    <div class="container">
        <form method="post" action="{{ path('change_password',{'id':id}) }}">
            <legend>Réinitialiser le mot de passe</legend>
            <div class="form-group">
                <label>Nouveau mot de passe</label>
                <input name="mdp1"  type="text"  size="18"  value="" class="form-control">
            </div>
            <div class="form-group">
                <label>Confirmer mot de passe</label>
                <input name="mdp2"  type="text"  size="18"  value="" class="form-control">
                {% if erreurs is defined %}
                    <div style="color: red">{{erreurs}}</div>
                {% endif %}
            </div>

            <input type="hidden" name="token" value="{{ csrf_token('form_reset_password') }}">

            <button type="submit" class="btn btn-primary">{{ button|default('Valider') }}</button>
            <a href="/login" class="btn btn-primary ">Retour</a>
        </form>
    </div>
{% endblock %}