{% extends 'base.html.twig' %}
{% form_theme form_projet 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container-fluid">
        {{ form(form_projet) }}
    </div>
{% endblock %}