{% extends 'base.html.twig'%}
{% block body %}
<div class="container-fluid">
    <form method="post" action="{{ path('reset_password') }}">
        <legend>Indiquer votre email</legend>
        <div class="form-group">
            <label>email :</label>
            <input name="email"  type="text"  size="18" value="" class="form-control">
            {% if erreurs.email is defined %}
                <div style="color: red">{{ erreurs.email }}</div>
            {% endif %}
        </div>
            <button type="submit" class="btn btn-primary">{{ button|default('Valider') }}</button>
    </form>
</div>
{% endblock %}